$primary-color: #4f46e5; // Dark background
$accent-color: #174fa8;  // Button / highlight
$text-color: #f9fafb;     // Light text
$button-hover: #2563eb;
$text-color2: rgb(145, 145, 145);

.expression-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  // box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
  
  .expression-video {
    // background-color: $accent-color;
    width: 100%;
    min-height: 300px;
    // max-width: 400px;
    border-radius: 12px;
    border: 2px solid $accent-color;
    margin-bottom: 1.5rem;
  }

  .expression-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: $text-color;
    margin-bottom: 1.5rem;
    min-height: 2rem; // keep space even if empty
  }

  .face-note{
    color: $text-color2;
    margin-top: 2rem;
    font-style: italic;
  }

  .detect-btn {
    padding: 1rem 1.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: $text-color;
    background-color: $accent-color;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $button-hover;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.98);
    }

    span{
      position: absolute;
      padding: 0.6rem 0.5rem;
      background-color: rgb(212, 212, 212);
      top: -25%;
      right: -10%;
      text-align: center;
      display: inline-block;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.7rem;
      border-radius: 5px;
      color: $accent-color;
    }
  }
}

/* Responsive */
@media screen and (max-width: 500px) {
  .expression-container {
    padding: 0 0;

    .expression-video {
      width: 100%;
    }

    .detect-btn {
      width: 100%;
    }
  }
}